registry=http://npm.scienceroots.com/
always-auth = true
//npm.scienceroots.com/:_password="dWNhbnRrbmFja3RoaXM="
//npm.scienceroots.com/:username=seemann
//npm.scienceroots.com/:email=sven.seemann@scienceroot.com
//npm.scienceroots.com/:always-auth=true
